<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @restaurant_tile.restaurant %>
</p>

<%= link_to 'Edit', edit_restaurant_tile_path(@restaurant_tile) %> |
<%= link_to 'Back', restaurant_tiles_path %>
