<div class="container col-xs-12">

  <p style="text-align: center">
    <strong>Genre:</strong>
    <%= @cuisine.genre %>
  </p>
  <hr>

  <div class="container">
    <% @cuisine.restaurants.in_groups_of(4, false) do |group| %>
      <div class="row">
        <% group.each do |restaurant| %>
          <div class="container col-md-3">
              <%= link_to restaurant do %>
                <%= image_tag restaurant.avatar.url(:medium) %>
              <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>