  <section class="tzheader-background">
    <%= image_tag 'about.jpg' %>
    </section><!--end class tzpages-->
    <section class="tz-about4 theme-white tz-about4-padding">
        <h3 class="tz-title-bold-3">
           THE MISSION
        </h3>
        <div class="container top-padding">
            <div class="row">
                <div>
                    <ul class="tz-collection collection-about tz-collection2 no-padding">
                        <li>
                            <figure class="item-collection">
                                <figcaption>
                                    <p style="font-size: 30px; text-align: center; vertical-align: middle; text-align:justify;">
                                        To serve great restaurants, Chef, Staff and the House.
                                        To serve those who love them.
                                        To provide an experience honest and visual.
                                        To celebrate Culinary Creativity and superlative quality.
                                        This is the the purpose of meme • menu.</p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div><!--end class row-->
        </div><!--end class container-->
    </section><!--end class tz-about-->
<section class="tz-our-team theme-white">
        <div class="container">
            <h3 class="tz-title-bold-3">
                BEHIND MEME • MENU
            </h3>
            <ul class="tz-team-slider">
                     <li>
                    <div class="tz-team-item">
                        <div class="tz-team-overlay">
                            <div class="tz-team-img">
                              <%= image_tag 'pkbanks.png' %>
                                <div class="tz-team-overlay-bk"></div>
                            </div>
                        </div>
                        <div class="tz-team-ds">
                            <h6>PK Banks</h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tz-team-item">
                        <div class="tz-team-overlay">
                            <div class="tz-team-img">
                                <img src="./images/jesusbrazon.png" alt="JB">
                                <img class="img-hover" src="./images/jesusbrazon.png" alt="PK Banks">
                                <div class="tz-team-overlay-bk"></div>
                            </div>
                        </div>
                        <div class="tz-team-ds">
                            <h6>Jesus Brazon</h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tz-team-item">
                        <div class="tz-team-overlay">
                            <div class="tz-team-img">
                                <img src="./images/andyweiss.png" alt="Andy">
                                <img class="img-hover" src="./images/andyweiss.png" alt="PK Banks">
                                <div class="tz-team-overlay-bk"></div>
                            </div>
                        </div>
                        <div class="tz-team-ds">
                            <h6>Andy Weiss</h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tz-team-item">
                        <div class="tz-team-overlay">
                            <div class="tz-team-img">
                                <img src="./images/alfonsopintos.png" alt="Alf">
                                <img class="img-hover" src="./images/alfonsopintos.png" alt="PK Banks">
                                <div class="tz-team-overlay-bk"></div>
                            </div>
                        </div>
                        <div class="tz-team-ds">
                            <h6>Alfonso Pintos</h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!--end class container-->
    </section><!--end class tz-our-team-->
<footer>
        <div class="tz-footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
                        <h3 class="module-title">
                            <span>
                                ABOUT
                            </span>
                        </h3>
                        <div class="textwidget">
                            To serve great restaurants, Chef, Staff and the House.
                            To serve those who love them
                            To provide an experience honest and visual.
                            To celebrate Culinary Creativity and superlative quality.
                            This is the the purpose of meme • menu.
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
                        <h3 class="module-title">
                            <span>
                                CONTACT
                            </span>
                        </h3>
                        <div class="tzwidget-contact">
                            <address>
                                400 NW 26th St. Miami, FL 33127
                            </address>
                            <span>
                                 <a href="tel:1-305-979-6450" style="color:#dddddd;">+1 • 305 • 979 • 6450</a>
                            </span>
                            <a href="mailto:hello@meme.menu?Subject=Hello%20Meme" target="_top">hello@meme.menu</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
                        <h3 class="module-title">
                           <span>FOLLOW US</span>
                            </h3>
                            <ul>
                                <li>
                                    <div class="tz-recent-content">
                                            <a href="http://meme-menu.tumblr.com" target="_blank">Tumblr</a>
                                            <span>
                                                <!-- Jul 24, 2014 -->
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tz-recent-content">
                                                <a href="https://twitter.com/_mememenu" target="_blank">Twitter</a>
                                                <span>
                                                    <!-- Jul 24, 2014 -->
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="http://meme-menu.tumblr.com" target="_blank">
                                                <!-- <img src="images/instagram_logo.png" alt="Lorem ipsum dolor sit amet"></a> -->
                                                <div class="tz-recent-content">
                                                    <a href="http://instagram.com/meme.menu" target="_blank">Instagram</a>
                                                    <span>
                                                       <!--  Jul 24, 2014 -->
                                                   </span>
                                               </div>
                                           </li>
                                           <li>
                                            <a href="http://meme-menu.tumblr.com" target="_blank">
                                                <!-- <img src="images/facebook_logo.png" alt="Lorem ipsum dolor sit amet"></a> -->
                                                <div class="tz-recent-content">
                                                    <a href="https://www.facebook.com/pages/Meme-Menu/982919405067058" target="_blank">Facebook</a>
                                                    <span>
                                                        <!-- Jul 24, 2014 -->
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
                        <h3 class="module-title">
                            <span>
                                PROUD MEMBER OF:
                            </span>
                        </h3>
                         <a href="http://wyncode.com" target="_blank"><img src="images/wyncode_logo.png"  alt="wyncode"></a><br><br>
                         <a href="http://thelabmiami.com" target="_blank"><img src="images/thelab_logo.png" alt="thelab"></a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tz-copyright theme-white">
            <p>meme • menu • 2014 • All Rights Reserved.</p>
        </div>
    </footer><!--end class tz-footer-->