<section class="tz-contact theme-gray">
  <div class="tz-map" id="googleMap"></div>
  <div class="container">
    <div class="row">

<!--       <%= render 'contacts/form' %> -->

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="tz-infomation-website">
          <h3 class="tz-title-contact">ADDRESS</h3>
          <address>
            The Lab Miami<br>
            400 NW 26th. Street<br>
            Miami FL<br>
            33127
          </address>
          <h3 class="tz-title-contact">CONTACT</h3>
          <ul>
            <li>Phone: +1 212 719 79 19</li>
            <li>Fax: +1 305 979 64 50</li>
            <li>Email: hello@meme.menu</li>
            <li>Web: www.meme.menu</li>
          </ul>
        </div>
      </div>
      
    </div><!--end class row-->
  </div><!--end class container-->
</section><!--end class tz-about-->
<footer>
  <div class="tz-copyright theme-white">
    <p>meme • menu • 2014 • All Rights Reserved.</p>
  </div>
</footer><!--end class tz-footer-->


<script>
function initialize()
{
  var mapProp = {
    center: new google.maps.LatLng(25.801540, -80.202223),
    zoom:17,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}

function loadScript()
{
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "//maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false&callback=initialize";
  document.body.appendChild(script);
}

window.onload = loadScript;
</script>

