<div class="tzslider">
  <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container">
    <div id="rev_slider_2_1" class="rev_slider fullscreenbanner">
      <ul>

        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img src="../../assets/images/background-1.jpg"  alt="slider"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        </li>

        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img src="./images/background-2.jpg"  alt="slider"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        </li>

        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img src="./images/background-3.jpg"  alt="slider4"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        </li>

        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img src="./images/background-4.jpg"  alt="slider3"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        </li>

      </ul>
    </div>
  </div>
</div><!--end class tzslider-->
<section class="tz-about tz-about2 theme-white">
  <div class="container">
    <div class="tz-title-bold-3">
      <hr>
      <p>Our Standards</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 colg-md-4 col-sm-12 col-xs-12">
        <div class="tz-about-item">
          <i class="fa fa-eye"></i>
          <div class="tz-about-bk">
            <img src="http://33.media.tumblr.com/6f8d2ec8ba44c74731c3b4be27f2e0ce/tumblr_ndnd8s8bdf1u1tc27o1_1280.jpg" alt="Visual">
            <div class="tz-about-overlay">
              <div class="tz-about-overlay-bk"></div>
            </div>
          </div>
          <div class="tz-about-ds">
            <h6>&#8212; Visual &#8212;</h6>
            <p>Vision is integral to appetite.  We provide great pictures of great food.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 colg-md-4 col-sm-12 col-xs-12">
        <div class="tz-about-item">
          <i class="fa fa-cutlery"></i>
          <div class="tz-about-bk">
            <img src="http://scontent-b-sjc.cdninstagram.com/hphotos-xfa1/t51.2885-15/10693382_543729765770818_355298433_n.jpg" alt="Food">
            <div class="tz-about-overlay">
              <div class="tz-about-overlay-bk"></div>
            </div>
          </div>
          <div class="tz-about-ds">
            <h6>&#8212; Food &#8212;</h6>
            <p>We showcase unique dishes handcrafted with quality ingredients.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 colg-md-4 col-sm-12 col-xs-12">
        <div class="tz-about-item">
          <i class="fa fa-thumb-tack"></i>
          <div class="tz-about-bk">
            <img src="http://photos-h.ak.instagram.com/hphotos-ak-xaf1/10691796_543577862454279_1581245894_n.jpg" alt="Local">
            <div class="tz-about-overlay">
              <div class="tz-about-overlay-bk"></div>
            </div>
          </div>
          <div class="tz-about-ds">
            <h6>&#8212; House &#8212;</h6>
            <p>We celebrate local restaurants that execute a purity of vision.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--end class tz-about-->
<div class="parallax tz-simple">
  <button class="simple_prev"><i class="fa fa-angle-left"></i></button>
  <button class="simple_next"><i class="fa fa-angle-right "></i></button>
  <div class="container">
    <ul class="tz-simple-product">
      <li>
        <p>The Dutch</p>
        <a href="thedutch_menu.html">Menu</a>
      </li>
      <li>
        <p>The Federal</p>
        <a href="#">Coming Soon</a>
      </li>
      <li>
        <p>Mmmm</p>
        <a href="#">Coming Soon</a>
      </li>
      <li>
        <p>Mignonette</p>
        <a href="#">Coming Soon</a>
      </li>
      <li>
        <p>Pubbelly</p>
        <a href="#">Coming Soon</a>
      </li>
      <li>
        <p>The District</p>
        <a href="#">Coming Soon</a>
      </li>
      <li>
        <p>Niu Kitchen</p>
        <a href="#">Coming Soon</a>
      </li>
    </ul>
  </div>
</div><!--end class parallax-->

<!-- WE ARE INSPIRED SECTION -->

<section class="tz-why-choose theme-gray">
  <div class="tz-choose-content tz-choose-content2">
    <div class="container">
      <!-- TITLE SECTION -->
      <div class="tz-title-bold-3">
        <hr><p>We are inspired by</p><hr>
      </div>
      <!-- END TITLE -->
      <div class="row">
        <!-- LEFT SIDE OF WE ARE INSPIRED BY -->
        <div class="col-lg-4 colg-md-4 col-sm-4 col-xs-12">
          <ul class="tz-collection collection-left tz-collection2">
            <li>
              <figure class="item-collection">
                <span class="tzcollection-icon">
                  <i class="fa fa-cutlery"></i>
                </span>
                <figcaption>
                  <h3>Serving Chefs</h3>
                  <p>We communicate a representation of the chef's creation, as the chef intended.</p>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="item-collection">
                <span class="tzcollection-icon">
                  <i class="fa fa-home"></i>
                </span>
                <figcaption>
                  <h3>Serving The House</h3>
                  <p>We facilitate interactions between the service staff and customers.</p>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="item-collection">
                <span class="tzcollection-icon">
                  <i class="fa fa-group"></i>
                </span>
                <figcaption>
                  <h3>Serving Diners</h3>
                  <p>We improve the accessibility of menu items through images.</p>
                </figcaption>
              </figure>
            </li>
          </ul>
        </div>
        <!-- END LEFT SIDE -->

        <!-- IMAGE INSIDE OF WE ARE INSPIRED BY -->
        <div class="col-lg-4 colg-md-4 col-sm-4 col-xs-12">
          <img class="collection-icon" alt="mememenulogo" src="./images/1.jpg">
        </div>
        <!-- END IMAGE -->

        <!-- RIGHT SIDE OF WE ARE INSPIRED BY -->
        <div class="col-lg-4 colg-md-4 col-sm-4 col-xs-12">
          <ul class="tz-collection tz-collection2">
            <li>
              <figure class="item-collection">
                <span class="tzcollection-icon">
                  <i class="fa fa-angellist"></i>
                </span>
                <figcaption>
                  <h3>Original Dishes</h3>
                  <p>We seek the joyful moments born from discovering new food.</p>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="item-collection">
                <span class="tzcollection-icon">
                  <i class="fa fa-group"></i>
                </span>
                <figcaption>
                  <h3>Fresh Ingredients</h3>
                  <p>Authentic flavors of food we love originate from quality ingredients.</p>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="item-collection">
                <span class="tzcollection-icon">
                  <i class="fa fa-book"></i>
                </span>
                <figcaption>
                  <h3>Seasonal Menus</h3>
                  <p>We support chefs who adapt their menus to change with the seasons.</p>
                </figcaption>
              </figure>
            </li>
          </ul>
        </div>
        <!-- END RIGHT SIDE -->
      </div><!--end class container-->
    </div><!--end class tz-choose-content-->
  </div>
</section>
<!-- END SECTION -->

<!-- FOOTER -->
<footer>
  <div class="tz-footer-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
          <h3 class="module-title">
            <span>
              ABOUT
            </span>
          </h3>
          <div class="textwidget">
            To serve great restaurants, Chef, Staff and the House.
            To serve those who love them
            To provide an experience honest and visual.
            To celebrate Culinary Creativity and superlative quality.
            This is the the purpose of meme • menu.
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
          <h3 class="module-title">
            <span>
              CONTACT
            </span>
          </h3>
          <div class="tzwidget-contact">
            <address>
              400 NW 26th St. Miami, FL 33127
            </address>
            <span>
              <a href="tel:1-305-979-6450" style="color:#dddddd;">+1 • 305 • 979 • 6450</a>
            </span>
            <a href="mailto:hello@meme.menu?Subject=Hello%20Meme" target="_top">hello@meme.menu</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
          <h3 class="module-title">
            <span>FOLLOW US</span>
          </h3>
          <ul>
            <li>
              <div class="tz-recent-content">
                <a href="http://meme-menu.tumblr.com" target="_blank">Tumblr</a>
              </div>
            </li>
            <li>
              <div class="tz-recent-content">
                <a href="https://twitter.com/_mememenu" target="_blank">Twitter</a>
              </div>
            </li>
            <li>
              <div class="tz-recent-content">
                <a href="http://instagram.com/meme.menu" target="_blank">Instagram</a>
              </div>
            </li>
            <li>
              <div class="tz-recent-content">
                <a href="https://www.facebook.com/pages/Meme-Menu/982919405067058" target="_blank">Facebook</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
          <h3 class="module-title">
            <span>
              PROUD MEMBER OF:
            </span>
          </h3>
          <a href="http://wyncode.com" target="_blank"><img src="images/wyncode_logo.png"  alt="wyncode"></a><br><br>
          <a href="http://thelabmiami.com" target="_blank"><img src="images/thelab_logo.png" alt="thelab"></a>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="tz-copyright theme-white">
    <p>meme • menu • 2014 • All Rights Reserved.</p>
  </div>
  <!--  -->
</footer>
<!-- FOOTER END -->