<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @restaurant_header.restaurant %>
</p>

<%= link_to 'Edit', edit_restaurant_header_path(@restaurant_header) %> |
<%= link_to 'Back', restaurant_headers_path %>
