/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#fb-btn-push-down {
  margin-top: 10px;
  margin-bottom: 7px;
}

#logo {
  padding-top: 130px;
  padding-bottom: 20px;
}

.navbar-default{

background-color: transparent;
border-color: transparent;
padding-bottom: 0;
}

nav {

margin: 0px !important;

}

#tags span.assigned-label {
  font-weight: bold;
}

#tags .tags-header {
  margin-top: 20px;
}

#tags .list-group {
  margin-top: 30px;
  width: 40%
}

#tags .dropdown-menu li:hover {
  cursor: pointer;
}

#tags {
  position: relative;
}

#tags .dropdown {
  display: inline;
  margin-left: 10px;
}

#tags .dropdown-menu {
  position: absolute;
  margin-top: 10px;
}

.field .quote-input {
  margin-bottom: 10px;
}

/* List edit */
.list-places {
  margin-top: 30px;
  width: 100%;
}

.row.list-places {
  margin-top: 15px;
}

/* Home Page edit */
.lists .field{
  margin-top: 30px;
  width: 40%;
}

.row.lists {
  margin-top: 15px;
}

#edit-spotlight {
  margin-left: 13px;
  margin-bottom: 35px;
}

/* Edit Spotlight */
#spotlight_items{
  margin-top: 30px;
  width: 40%;
}

.navbar-default .navbar-collapse{
  border-color: #ffffff;
}

.nav>li>a:hover, .nav>li>a:focus {

background-color: transparent;
  
}
