<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>meme•menu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <!-- Latest compiled and minified Bootstrap CSS & JS-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Google Font "Raleway" -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,100,200,800" rel="stylesheet" />
  

</head>



<body>

<header class="tz-header tz-header3">
        <div class="container">
            <h3 class="tz-logo pull-left">
                <a href="index.html">
                    <img src="images/logo_100px_black.png" alt="meme • menu">
                </a>
            </h3>
            <button data-target=".nav-collapse" class="btn-navbar tz_icon_menu pull-right" type="button">
                <i class="fa fa-bars"></i>
            </button>
            <nav class="pull-right">
                <ul class="nav-collapse">
                    <li>
                        <a href="index.html">HOME</a>
                    </li>
                    <li class="active">
                        <a href="#">RESTAURANTS</a>
                        <div class="nav-child dropdown-menu mega-dropdown-menu">
                            <div class="mega-dropdown-inner">
                                <div class="row">
                                    <div data-width="12" class="col-md-12 mega-col-nav">
                                        <div class="mega-inner">
                                            <ul class="mega-nav level1">
                                                <li>
                                                    <a href="thedutch_menu.html">The Dutch</a>
                                                </li>
                                                <!-- <li>
                                                    <a href="thefederal_menu.html">The Federal</a>
                                                </li>
                                                <li>
                                                    <a href="mmmm_menu.html">Mmmm</a>
                                                </li>
                                                <li>
                                                    <a href="mignonette_menu.html">Mignonette</a>
                                                </li>
                                                <li>
                                                    <a href="pubbelly_menu.html">Pubbelly</a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="http://meme-menu.tumblr.com" target="_blank">BLOG</a>
                    </li>
                    <li>
                        <a href="about.html">ABOUT</a>
                    </li>
                    <li>
                        <a href="contact.html">CONTACT</a>
                    </li>
            </ul>
        </nav>
    </div><!--end class container-->
</header><!--end class tz-header-->

  <container>
    <%= yield %>
  </container>

</body>
</html>
